/* PLAYLIST */
.playlist-container {
    position: fixed;
    margin-left: 380px;
    margin-top: 120px;
    position: fixed;
    height: 68vh;
    padding-top: 16px;
    border-radius: 10px;
    background-color: #121212;
    width: 69% ;
  }
  
  .playlist2 {
    margin: 24px;
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 48px;
    padding: 10px;
    
  }
  
 
  .playlist .session {
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
  }
  
  /* SCROLL */
  .offer__scroll-container {
    max-height: 55vh;
    max-width: 125vh;
    margin: 24px;
    overflow-y: auto;
    
    
  }
  
  .offer__scroll-container::-webkit-scrollbar {
    width: 1px;
  }
  
  .offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* FIM SCROLL */
  
  .offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;
    
  
    /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
    display: grid;  /* define o modelo de layout do elemento como uma grade */
    gap: 16px;
    grid-gap: 32px;  /* não é usado mais */
    margin: 0 auto;
  }
  
  /* POSITION */
  /* principais são static, relative, absolute, fixed, e sticky. */
  
  .cards {
    position: relative; /* relative:
                            Comportamento em relação a si mesmo: O elemento é posicionado em relação à sua posição original.
                           Mantém espaço original: O espaço original que o elemento ocuparia não é alterado, mas você pode movê-lo com top, right, bottom ou left. */
    
    color: #ffff;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .cards span {
    padding: 16px;
    position: absolute;
    /* absolute:
                            Comportamento em relação ao ancestral posicionado mais próximo ou ao elemento raiz (se nenhum ancestral estiver posicionado).
                            Remove do fluxo normal: O elemento é removido do fluxo normal do documento, o que significa que outros elementos agem como se o elemento não estivesse presente. */
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
  }
  
  /* COLOR CARDS */
  .card1 {
    background: var(--card1);
  }
  .card2 {
    background: var(--card2);
  }
  .card3 {
    background: var(--card3);
  }
  .card4 {
    background: var(--card4);
  }
  .card5 {
    background: var(--card5);
  }
  .card6 {
    background: var(--card6);
  }
  .card7 {
    background: var(--card7);
  }
  .card8 {
    background: var(--card8);
  }
  .card9 {
    background: var(--card9);
  }
  .card10 {
    background: var(--card10);
  }
  .card11 {
    background: var(--card11);
  }
  .card12 {
    background: var(--card12);
  }
  .card13 {
    background: var(--card13);
  }
  .card14 {
    background: var(--card14);
  }
  .card15 {
    background: var(--card15);
  }
  /* FIM COLOR CARDS */
  
  .offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
  }